<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.lunch_editor' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'myId'}

	],
 source:'session.dashboard.lunch_editor' });

%><div class='editorContainer studentEditor' id='<%= displayParameters.myId.divId %>' style='width:auto;'>
STUDENT_EDITOR

</div>