<%
/*
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'}
	],
 source:'session.register.deferred' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[

	],
 source:'session.register.deferred' });
*/

var password='tqwhite'+Math.floor((Math.random()*1000)+1);
%>
<div style='color:green;padding:10px 20px 0px 20px;font-weight:bold;height:100%;width:80%;'>

Your order has been completed. A notification has been emailed to you.<p/>
1) This purchase was made using a special payment program.<p/>

2) If you have questions, please call us.<p/>
<span style='font-weight:normal;'>(If you can't find the message, please remember to check your spam folder.</span>

</div>