
INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation
application/configs/application.ini
/nbproject/private/

**/.DS_Store
**/._.DS_Store
._*
Icon?
._Icon\r
/tmp/*

/configs/*
**/configs/*
/config/*
**/config/*
/tmp/*
**/tmp/*
/tmp/*
**/tmp/*

**/.~lock*


*.log

/application/configs/*
/library/Credentials/*
public/media/hash/*