<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'customer.chooseMenu.ejs' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'myId'},
		{name:'childNameSpace'},
		{name:'offeringSpace'},
		{name:'selectedSpace'}

	],
 source:'customer.chooseMenu.ejs' });

%><div class='mainContainer' id='<%= displayParameters.myId.divId %>'>
	<div class='childNameSpace' id='<%= displayParameters.childNameSpace.divId %>'></div>
	<div class='offeringSpace' id='<%= displayParameters.offeringSpace.divId %>'></div>
	<div class='selectedSpace' id='<%= displayParameters.selectedSpace.divId %>'>
	</div>

</div>