<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'customer.schedule.views.init' });

qtools.validateProperties({
	targetObject:this.displayParameters,
	propList:[
		{name:'newButton'},
		{name:'lunchButton', optional:true},
		{name:'editButton'}
	],
 source:'customer.schedule.views.init' });

qtools.validateProperties({
	targetObject:this.formData,
	propList:[
		{name:'account'},
		{name:'schools'}
	],
 source:'customer.schedule.views.init' });


	var list=this.formData.schools;
	var suppressObject={};
	var nowDate=new Date(),
		beginThreshold, endThreshold, suppressFlag,
		twentyFourHours = (24*60*60*1000),
		openSchoolCount=list.length;
		
	for (var i=0, len=list.length; i<len; i++){
		var element=list[i];
		begin=element.dateOrderingBegin.replace(/-/g, '/');
		end=element.dateOrderingEnd.replace(/-/g, '/');
		;
		
		beginThreshold=new Date(begin); //this represents midnight of that day
		
		endThreshold=new Date(end);
		endThreshold.setTime(endThreshold.getTime() + (twentyFourHours-1000)); //one second before midnight
		
		suppressFlag=!(beginThreshold<nowDate && nowDate<endThreshold);

		if (suppressFlag){
			suppressObject[element.refId]=true;
			openSchoolCount--;
		}
	}

var students=this.formData.account.students || {};


var rowString='';
for (var i=0, len=students.length; i<len; i++){

	if (students[i].isActiveFlag===false){continue;}
	
	var orders=students[i].orders?students[i].orders:[];
	
	var orders=orders.sort(qtools.byObjectProperty('day.refId'));


	var daysPurchaseString='';
	var whatLunchesString='<div style="font-weight:bold;margin-bottom:5px;">'+students[i].firstName+"</div>";
	
	for (var i2=0, len2=orders.length; i2<len2; i2++){
		var element=orders[i2];
		daysPurchaseString+=element.day.title+', ';
		whatLunchesString+=element.day.title+" "+element.offering.name+"<br>";
	}
	
	if (whatLunchesString){
		whatLunchesString="title='"+whatLunchesString+"'";
	}
	
	if (daysPurchaseString) {
		daysPurchaseString =
			"<span "+whatLunchesString+" class='daysPurchased' style='font-size:80%;color:black;'>Already: " +
			daysPurchaseString.replace(/, $/, '') +
			'</span>';
	}

	if (!this.adminFlag && this.displayParameters.lunchButton){
	var lunchButtonString="<div style='float:right;' class='smallButton "+this.displayParameters.lunchButton.divId+"'  refId='"+students[i].refId+"'>"+students[i].refId+"</div>";
	var closedButtonString="<div style='float:right;' class='smallButton   refId='"+students[i].refId+"' title='For this term, new lunch sales for this school are closed'>Closed</div>";
	}
	else{
	var lunchButtonString="";
	var closedButtonString="";
	}

	var studentInfoString=students[i].school.name+", grade "+students[i].gradeLevel.title;

	if (!suppressObject[students[i].schoolRefId]){
	rowString+="<tr style='vertical-align:top;padding-top:5px;'><td style='text-align:left;padding-left:5px;' class='textButton "+this.displayParameters.editButton.divId+"' refId='"+students[i].refId+"' titleUNUSED='Click to edit "+students[i].firstName+" details'>"+students[i].firstName+"</td><td style='font-size:80%;color:#666;text-align:left;width:70%;'>&nbsp;&nbsp;&nbsp;"+studentInfoString+" "+daysPurchaseString+"</td><td>"+lunchButtonString+"</td></tr>";
	}
	else{
		rowString+="<tr style='vertical-align:top;padding-top:5px;'><td style='text-align:left;padding-left:5px;' class='textButton "+this.displayParameters.editButton.divId+"' refId='"+students[i].refId+"' titleUNUSED='Click to edit "+students[i].firstName+" details'>"+students[i].firstName+"</td><td style='font-size:80%;color:#666;text-align:left;width:70%;'>&nbsp;&nbsp;&nbsp;"+studentInfoString+"</td><td>"+closedButtonString+"</td></tr>";
	}
}


%>
<table class='schedule' style='width:100%;'>

<%==rowString%>
<tr><td colspan='3' style='text-align:left;'><div class='smallButton' id='<%=this.displayParameters.newButton.divId%>'>hello</div></td></tr>
</table>