<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:this.displayParameters,
	propList:[
		{name:'newButton'},
		{name:'lunchButton'},
		{name:'editButton'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:this.formData,
	propList:[
		{name:'account'},
		{name:'schools'}
	],
 source:'session.dashboard.dashboardMain' });


	var list=this.formData.schools;
	var suppressObject={};
	var nowDate=new Date(),
		beginThreshold, endThreshold, suppressFlag,
		twentyFourHours = (24*60*60*1000),
		openSchoolCount=list.length;
		
	for (var i=0, len=list.length; i<len; i++){
		var element=list[i];
		
		beginThreshold=new Date(element.dateOrderingBegin); //this represents midnight of that day
		
		endThreshold=new Date(element.dateOrderingEnd);
		endThreshold.setTime(endThreshold.getTime() + (twentyFourHours-1000)); //one second before midnight
			
		suppressFlag=!(nowDate>beginThreshold && nowDate<endThreshold);
		
		if (suppressFlag){
			suppressObject[element.refId]=true;
			openSchoolCount--;
		}
	}

var students=this.formData.account.students;
var rowString='';
for (var i=0, len=students.length; i<len; i++){
	if (!suppressObject[students[i].schoolRefId]){
	rowString+="<tr style='background:#AAE6E7;vertical-align:top;padding-top:5px;'><td style='text-align:left;padding-left:5px;' class='textButton "+this.displayParameters.editButton.divId+"' refId='"+students[i].refId+"' title='Click to edit "+students[i].firstName+" details'>"+students[i].firstName+"</td><td></td><td></td><td></td><td></td><td></td><td><div class='smallButton "+this.displayParameters.lunchButton.divId+"'  refId='"+students[i].refId+"'>"+students[i].refId+"</div></td></tr>";
	}
	else{
		rowString+="<tr style='background:#AAE6E7;vertical-align:top;padding-top:5px;'><td style='text-align:left;padding-left:5px;' class='textButton "+this.displayParameters.editButton.divId+"' refId='"+students[i].refId+"' title='Click to edit "+students[i].firstName+" details'>"+students[i].firstName+"</td><td></td><td></td><td></td><td></td><td></td><td><div class='smallButton   refId='"+students[i].refId+"' title='For this term, new lunch sales for this school are closed'>Closed</div></td></tr>";
	}
}

var headings=[{name:''}, {name:'Mon'}, {name:'Tues'}, {name:'Weds'}, {name:'Thurs'}, {name:'Fri'}, {name:''}];
var headingTemplate="<td><!name!></td>";

var headingTemplate="<td>&nbsp;</td>"; //don't have the ability to show the kids' stuff yet

var headingString=qtools.templateReplaceArray({replaceArray:headings, template:headingTemplate});

%>
<table class='schedule'>
<tr style='color:gray;'><%==headingString%></tr>
<%==rowString%>
<tr><td colspan='<%=headings.length%>' style='text-align:left;'><div class='smallButton' id='<%=this.displayParameters.newButton.divId%>'>hello</div></td></tr>
</table>