RewriteEngine On

RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ index.php [NC,L]

RewriteCond %{DOCUMENT_ROOT}/static/%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}/static/%{REQUEST_URI} -d
RewriteRule ^ %{DOCUMENT_ROOT}/static/%{REQUEST_URI} [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^.*$ index.php [NC,L]