<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'}
	],
 source:'session.register.emailConfirmation' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[

	],
 source:'session.register.emailConfirmation' });


var password='tqwhite'+Math.floor((Math.random()*1000)+1);
%>
<div class='entryBox' style='color:green;padding-top:50px;padding-right:30px;font-weight:bold;height:370px;width:300px;'>

Welcome to the Lunch Program!<p/>
1) Please check your email for an email address confirmation message<p/>2) Click on the link it contains.<p/>
<span style='font-weight:normal;'>(If you can't find the message, please remember to check your spam folder.)</span>

</div>