<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'}
	],
 source:'session.register.mainPanel' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'loginButton'},
		{name:'forgotButton'},
		{name:'loginForm'},
		{name:'status'}
	],
 source:'session.register.mainPanel' });


%>
<div class='entryBox' style='margin-left:100px;height:380px;width:533px;'>


<div class='entryPanelErrorList' style='margin-top:25px;height:30px;width:100%' id='<%==displayParameters.status.divId%>'>
	<div style='font-size:10pt;width:485px'>
<b>Welcome!</b>
	An account covers all the children in a family. Parents must share this account. Credit card numbers
	are not stored. Lunches are purchased by the day and can be paid for with separate credit cards. Receipts are
	emailed to the  address entered below.
	</div>
</div>

<div id='<%==displayParameters.loginForm.divId%>' style='padding-top:65px;position:relative'>
</div>

<div class='smallButton' style='margin-right:30px;margin-top:27px;float:right;' id='<%==displayParameters.loginButton.divId%>'></div>
<div class='smallButton' style='margin-right:20px;margin-top:27px;float:right;width:135px;' id='<%==this.displayParameters.forgotButton.divId%>'></div>

</div>