<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'customer.child.views.init' });

qtools.validateProperties({
	targetObject:this.displayParameters,
	propList:[
		{name:'doneButton'}

	],
 source:'customer.child.views.init' });

qtools.validateProperties({
	targetObject:this.formData,
	propList:[
		{name:'student'}

	],
 source:'customer.child.views.init' });
%>
<div class='nameString'><%=this.formData.student.firstName%></div><div class='smallButton' style='float:right;' id='<%= displayParameters.doneButton.divId %>'></div>