<%

qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'idNameBase'},
		{name:'blockCount'}
	],
	source:this.viewName+'.view.this'
});
	
var blockString='',
	height=300,
	width=300;
	
for (var i=0; i<blockCount; i++){
	blockString+="<td id='"+idNameBase+i+"' style='vertical-align:top;height:"+height+"px;width:"+width+"px;'></td>";
}
%>
<div id='mainContainer' style='margin:50px;font-family:sans-serif;fontsize:18pt;'>
<table>
<tr><%==blockString%></tr>
</table>

</div>