<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[
		{name:'lunchButton'}
	],
 source:'session.dashboard.dashboardMain' });

%>
Purchases <span class='smallButton' style='margin-left:20px;' id='<%= displayParameters.lunchButton.divId %>'></span>