<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:displayParameters,
	propList:[

	],
 source:'session.dashboard.dashboardMain' });

%>White Family Lunches <span class='subTitle'>(current user: TQ)</span>