<%
qtools.validateProperties({
	targetObject:this,
	propList:[
		{name:'displayParameters'},
		{name:'viewHelper'},
		{name:'formData'}
	],
 source:'session.dashboard.dashboardMain' });

qtools.validateProperties({
	targetObject:this.displayParameters,
	propList:[
		{name:'logoutButton'}
	],
 source:'session.dashboard.dashboardMain' });

%><table style='width:100%;'><tr><td style='text-align:left;'><%=this.formData.user.account.familyName%> Family Lunches <span class='subTitle'>(current user: <%=this.formData.user.firstName%> <%=this.formData.user.lastName%>)</span>
</td>
<td style='text-align:left;'><div class='smallButton' id='<%=this.displayParameters.logoutButton.divId%>'></div></td></tr></table>